#!/usr/bin/env bash
set -e

echo "INSTALLING REQUIRED PACKAGES..."
apt update
apt install -y apt-transport-https ca-certificates curl gpg awscli jq
curl -fsSL https://pkgs.k8s.io/core:/stable:/v1.31/deb/Release.key | gpg --yes --dearmor -o /usr/share/keyrings/kubernetes-archive-keyring.gpg
echo "deb [signed-by=/usr/share/keyrings/kubernetes-archive-keyring.gpg] https://pkgs.k8s.io/core:/stable:/v1.31/deb/ /" > /etc/apt/sources.list.d/kubernetes.list
apt update
apt install -y \
  conntrack \
  containerd%{ if containerd_version != "" }=${containerd_version}%{ endif } \
  kubelet%{ if kubernetes_version != "" }=${kubernetes_version}%{ endif } \
  kubeadm%{ if kubernetes_version != "" }=${kubernetes_version}%{ endif } \
  kubectl%{ if kubernetes_version != "" }=${kubernetes_version}%{ endif }
apt-mark hold kubelet kubeadm kubectl

echo "CONFIGURING CONTAINERD WITH SYSTEMD CGROUP DRIVER..."
mkdir -p /etc/containerd
containerd config default > /etc/containerd/config.toml
sed -i 's/SystemdCgroup = false/SystemdCgroup = true/' /etc/containerd/config.toml
systemctl restart containerd
systemctl enable containerd

echo "CONFIGURING KERNEL NETWORK SETTINGS..."
cat >/etc/modules-load.d/k8s.conf <<EOF
overlay
br_netfilter
EOF
cat >/etc/sysctl.d/99-kubernetes-cri.conf <<EOF
net.bridge.bridge-nf-call-iptables = 1
net.bridge.bridge-nf-call-ip6tables = 1
net.ipv4.ip_forward = 1
EOF
modprobe -a overlay br_netfilter
sysctl --system

echo "DISABLING SWAP..."
swapoff -a
sed -i '/swap/d' /etc/fstab

echo "SETTING AWS REGION AND LOCAL IP..."
AWS_REGION=$(curl -s http://169.254.169.254/latest/meta-data/placement/region)
LOCAL_IP=$(curl -s http://169.254.169.254/latest/meta-data/local-ipv4)
aws configure set region $AWS_REGION

join_cmd=""

fetch_join_cmd() {
  echo "FETCHING CLUSTER JOIN COMMAND..."
  if join_cmd=$(
    aws ssm get-parameter \
      --name "/${cluster_name}/kubeadm/${node_role}_join_command" \
      --with-decryption \
      --query "Parameter.Value" \
      --output text
    ) && [[ "$join_cmd" != "__EMPTY__" ]]
  then
    return 0
  else
    return 1
  fi
}

join_cluster() {
  if [[ -z "$join_cmd" || "$join_cmd" == "__EMPTY__" ]]
  then
    until fetch_join_cmd
    do
      echo "RETRYING IN 10 SECONDS..."
      sleep 10
    done
  fi
  echo "EXECUTING CLUSTER JOIN COMMAND..."
  printf '%s' "$join_cmd" > /root/${node_role}_join.sh
  chmod +x /root/${node_role}_join.sh
  bash /root/${node_role}_join.sh
}

%{ if first_controlplane_node != "" ~}
if fetch_join_cmd
then
  join_cluster
else
  echo "INITIALIZING NEW KUBERNETES CLUSTER..."
  kubeadm init \
    --kubernetes-version="${kubernetes_version}" \
    --apiserver-advertise-address="$LOCAL_IP" \
    --apiserver-bind-port="${apiserver_port}" \
    --apiserver-cert-extra-sans="${apiserver_dns}" \
    --control-plane-endpoint="${apiserver_dns}" \
    --upload-certs \
    --token-ttl=0 2>&1 \
    > /root/kubeadm_init_output.txt
  echo "EXPORTING NODE JOIN COMMANDS..."
  grep -A 4 "join any number of the control-plane" /root/kubeadm_init_output.txt \
    | tail -n 3 > /root/controlplane_join.sh
  grep -A 3 "join any number of worker" /root/kubeadm_init_output.txt \
    | tail -n 2 > /root/worker_join.sh
  aws ssm put-parameter \
    --name "/${cluster_name}/kubeadm/controlplane_join_command" \
    --value "file:///root/controlplane_join.sh" \
    --overwrite
  aws ssm put-parameter \
    --name "/${cluster_name}/kubeadm/worker_join_command" \
    --value "file:///root/worker_join.sh" \
    --overwrite
fi
%{~ else ~}
join_cluster
%{~ endif ~}

%{ if node_role == "controlplane" }
echo "CONFIGURING KUBECTL FOR ADMIN USER..."
mkdir -p /home/admin/.kube
cp -i /etc/kubernetes/admin.conf /home/admin/.kube/config
chown $(id admin -u):$(id admin -g) /home/admin/.kube/config
%{~ endif }
